nav {
    display: grid;
    height: 8rem;
    grid-template-columns: repeat(3, 1fr);

    @include respond(desktop) {
        display: none;
    }

    button {
        &:hover,
        &:focus {
            background-color: $lightgrey;
        }

        &.selected {
            color: $red;
            border-top: solid 1rem $blue;
            background-color: $lightgrey;
        }
    }

    i {
        font-size: 3rem;
        text-align: center;
        padding: 2rem;
    }
}
