nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include respond(desktop) {
        display: none;
    }

    i {
        font-size: 3rem;
        text-align: center;
        padding: 2rem;
    }

    .selected {
        color: red;
        border-top: solid 1rem blue;
        background-color: lightgrey;
    }
}
