.button-next {
    background-color: blue;
    color: white;
    width: 10rem;
    padding: 1rem;
    margin: 1rem calc(50% - 5rem); // Center
    
    letter-spacing: .2rem;
    font-weight: 600;
    font-size: 3rem;
}
