.button {
    &-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-trending {
        @include respond(desktop) {
            flex-direction: column;
        }
    }

    &-next,
    &-back {
        background-color: $blue;
        color: $white;
        width: 10rem;
        padding: 1rem;
        margin: 1rem;
        
        letter-spacing: .2rem;
        font-weight: 600;
        font-size: 3rem;
    }
}
