.search-form {
    gap: 1rem;
    margin-bottom: 1rem;

    @include respond(desktop) {
        display: flex;
        align-items: center;
    }

    &__label,
    &__searchbar,
    &__submit {
        font-size: 2rem;
        letter-spacing: .1rem;
        font-weight: 600;
    }

    &__searchbar {
        width: 100%;
        padding-left: .5rem; // Text and placeholder away from box-edge
    }

    &__submit {
        padding: 0 1rem;
        background-color: blue;
        color: white;
    }
}

